*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
@media screen and (max-width:875px){
  html{
    font-size: 54%;
  }
}
@media screen and (max-width:640px){
  html{
    font-size: 45%;
  }
}
